<div>
  <h5>Last Requested: <i>{{foremanManpowerRequest.created}}</i></h5>
</div>
<table class='table table-bordered table-hover' style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Week</th>
        <th>Requested Manpower</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td style="width:100px">
              <tr>{{foremanManpowerRequest.week1Date}}</tr>
          </td>
          <td>
             <tr>{{foremanManpowerRequest.week1Request}}</tr>
          </td>
      </tr>
      <tr>
          <td style="width:100px">
            <tr>{{foremanManpowerRequest.week2Date}}</tr>
          </td>
          <td>
             <tr>{{foremanManpowerRequest.week2Request}}</tr>
          </td>
      </tr>
      <tr>
          <td style="width:100px">
            <tr>{{foremanManpowerRequest.week3Date}}</tr>
          </td>
          <td>
             <tr>{{foremanManpowerRequest.week3Request}}</tr>
          </td>
      </tr>
  </tbody>
</table>
