<div>
   <h5>Users: <i>{{siteStats.totalUsers}}</i></h5>
   <h5>Profiles: <i>{{siteStats.totalProfiles}}</i></h5>
   <h5>Jobsites: <i>{{siteStats.totalJobs}}</i></h5>
   <h5>Total Manpower Requests: <i>{{siteStats.totalManpowers}}</i></h5>
   <h5>Total File Uploads: <i>{{siteStats.totalFiles}}</i></h5>
</div>
