<div style='margin-top: 25px;'>
  <div class='col-md-3'></div>
  <div class='col-md-6' align='center'>
  <h4>Create Jobsite</h4>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=jobName placeholder="Job Name"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=jobNumber placeholder="Job #"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=streetAddress placeholder="Street Address"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=zipCode placeholder="Zip"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=city placeholder="City"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=state placeholder="State"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=foreman placeholder="Job Foreman"}}
    </div>
    <div class='sign-in'>
      {{input type='text' class='form-control' value=projectManager placeholder="Job PM"}}
    </div>
    <div class='sign-in'>
      Jobsite Open: {{input type='checkbox' class='form-control' name="isOpen" checked=isOpen}}
    </div>
      <button class='btn btn-primary' {{action "createJobsite"}}>Create Job</button>
  </div>
  <div class='col-md-3'></div>
</div>
