<div class='container-fluid news-bar'>
  {{#if session.isAuthenticated}}
    {{#each model as |user|}}
      <div class='news-bar-text'>
        <p><i>Welcome, {{user.firstName}} {{user.lastName}}</i></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p><i>Today's Date: </i></p>
        <i>{{welcome-name}}</i>
      </div>
    {{/each}}
  {{/if}}
</div>
<div>
  <div class='col-md-3'></div>
  <div class='col-md-6' align='center'>
    <div class='page-header'>
        <h3>Update Your Password</h3>
    </div>
    <div class='sign-in'>
        {{input type='text' class='form-control' value=firstPassword placeholder='New Password'}}
    </div>
    <div class='sign-in'>
        {{input type='password' class='form-control' value=secondPassword placeholder='Re-Enter New Password'}}
    </div>
    <button class='btn btn-primary' {{action 'updatePassword' 'firstPassword' 'secondPassword'}}>Update Password</button>
  </div>
  <div class='col-md-3'></div>
</div>
